 $color: blue;
 $width: 800px;
 $stack: Helvetica,
 sans-serif;
 $background: rgba(44, 227, 233, 0.479);
 body {
     width: $width;
     color: $color;
     font: 100% $stack;
     h3 {
         width: $width;
         color: $color;
     }
     .jumbotron {
         background: $background;
     }
 }